.dropdown-menuu {
  width: 170px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.dropdown-menuu li {
  background: white;

}

.dropdown-menuu li:hover {
  background: #0060b5;

  a {
    color: white;
  }
}

.dropdown-menuu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  text-decoration: none;
  color: #0060b5;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}