/* Custom styles for nav links */
.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 1rem;
  transition: color 0.3s ease,
  background-color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.3s ease, 
  background-color 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
  background: #0060B5;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease;
}

// .nav-item:hover {
//   background-color: rgba(255, 255, 255, 0.1);
//   border-radius: 4px;
// }

.nav-item:hover .nav-link {
  //color: black;
  color: #0060B5;
  font-weight: bolder;
}

.nav-link .fas {
  transition: transform 0.3s ease;
}
