// .splitcard{
//     box-shadow: 0 10px 50px 0 rgba(0,0,0,.085);
//     margin: 20px;
// }

// .flexbox{
//     width: 100%;
//     margin: 0 auto;
//     display: -webkit-flex;
//     display: flex;
// }

// .leftside {

//     background: white;

//     .leftcontent{
//         padding: 20px;

//         h2{
//             font-family: Druk-Heavy;
//             font-size: 3rem;
//             text-transform: uppercase;
//             color: black;
//         }
//         p{
//             color: #63615e;
//             font-family: Poppins;
//             font-weight: 400;
//         }
//         .leftline{
//             color: rgba(8, 8, 8, 0.61);

//         }

//         .cardtable{
//             ul{
//                 list-style-type: disc;
//                 list-style-position: outside;

//                 margin-bottom: 1.5rem;
//                 line-height: 1.7;
//                 color: rgba(8, 8, 8, 0.61);

//                 li{
//                     list-style-type: disc;
//                     list-style-position: outside;
//                     margin-bottom: 0.625rem;
//                     line-height: 1.7;
//                     font-family: Poppins;
//                 }
//             }
//         }
//     }
//   }
// .rightside {

//     background: #0060b5;

//     .rightcontent{
//         padding: 20px;

//         h2{
//             font-family: Druk-Heavy;
//             font-size: 3rem;
//             text-transform: uppercase;
//             color: white;
//         }
//         p{
//             color: white;
//             opacity: 0.8;
//             font-family: Poppins;
//             font-weight: 400;
//         }
//         .rightline{
//             color: rgb(255, 255, 255);
//             opacity: 0.6;
//         }

//         .cardtable{
//             ul{
//                 list-style-type: disc;
//                 list-style-position: outside;

//                 margin-bottom: 1.5rem;
//                 line-height: 1.7;
//                 color: rgb(255, 255, 255);
//                 opacity: 0.8;

//                 li{
//                     list-style-type: disc;
//                     list-style-position: outside;
//                     margin-bottom: 0.625rem;
//                     line-height: 1.7;
//                     font-family: Poppins;
//                 }
//             }
//         }
//     }
//   }

//   .leftside,
//   .rightside {
//     -webkit-flex: 1;
//     flex: 1;

//   }

.heading {
    font-weight: 700;
    font-size: 30px;
}

.imagescss {
    border-radius: 20px;
}

.customborder {
    border-radius: 10%;
    // background-color: ;
    --b: .5em;
    /* border width */
    --c: 3em;
    /* corner size */
    --r: 2em;
    /* corner rounding */
    position: relative;
    // margin: 1em auto;
    border: solid 4px transparent;
    // padding: 1em;
    max-width: 23em;
    // font: 0.1em ubuntu, sans-serif;

    &::before {
        position: absolute;
        z-index: 1;
        inset: calc(-1*var(--b));
        border: inherit;
        border-radius: var(--r);
        background: linear-gradient(rgb(0, 140, 255), deeppink, rgb(203, 14, 203)) border-box;
        --corner:
            conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 0 0/ calc(100% - var(--c)) calc(100% - var(--c)) border-box;
        --inner: conic-gradient(red 0 0) padding-box;
        -webkit-mask: var(--corner), var(--inner);
        -webkit-mask-composite: source-out;
        mask: var(--corner) subtract, var(--inner);
        content: ''
    }
}




.image {
    filter: grayscale(100%);
}

.font {
    font-size: large;
}

.containt:hover .smallcontaint {
    color: #002eff;
    transition: 0.3s ease-in-out all;


}

.containt:hover .parentDiv {
    transition: 0.3s ease-in-out all;
    border: 2px solid #002eff
}